# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll.config
*.exe.config

# Sensitive settings
# Don't ignore appsettings.json since we're using placeholders
# appsettings.*.json
# !appsettings.Example.json
# !appsettings.json
# AppGambit/appsettings.Development.json

# User secrets
*.usersecretsjson

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Local postgresql data
pgdata/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# ASP.NET static assets
AppGambit/wwwroot/lib/

# Не коммитить временные скрипты (если не нужны)
# encrypt-connection.ps1

# Не коммитить publish-артефакты
publish/

# Не коммитить локальные настройки
AppGambit/*.csproj.user
AppGambit.Security.Tools/*.csproj.user

# Не коммитить миграции, если не хотите их хранить
# AppGambit/Migrations/ 